@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  background-color: white;
}
*{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* style for nav bar */
.landingpage{
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.822);
  background-image:url("images/profile.jpeg") ;
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 60vw;
  align-items: center;
  vertical-align: center;
  background-color: transparent;
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease-in-out;
}
.dark{
  background-color: black;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #ffff;
  text-decoration: none;
  margin-right: auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.menu li a:hover {
  color: #048777;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
  align-self: self-end;
  vertical-align: center;
  margin: auto 0;
}

.burger .line {
  width: 30px;
  height: 3px;
  margin: 3px;
  background-color: #ffff;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width:900px){
  .navbar{
    column-gap: 20vw;
  }
}
@media screen and (max-width:786px){
  .menu {
    display: none;
  }

  .burger {
    display: flex;
  }

  .navbar {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 75vw;
    color: white;
    width: 98vw;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }


  .burger .line {
    width: 20px;
  }

  .navbar.active .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 101%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #000;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding: 20px 0;
    margin: -10px 0;
  }

  .navbar.active .menu li {
    margin: 10px 0;
  }
  .navbar.active .burger .line:nth-child(1) {
    transform: rotate(50deg) translate(5px, 8px);
  }

  .navbar.active .burger .line:nth-child(2) {
    opacity: 0;
  }

  .navbar.active .burger .line:nth-child(3) {
    transform: rotate(-50deg) translate(5px, -8px);
  }
}
@media screen and (max-width: 468px) {
  .menu {
    display: none;
  }

  .burger {
    display: flex;
  }

  .navbar {
    flex-direction: row;
    align-items: flex-start;
    column-gap: 40vw !important ;
  }

  .logo-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }


  .burger .line {
    width: 20px;
  }

  .navbar.active .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 101%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #000;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding: 20px 0;
    margin: -10px 0;
  }

  .navbar.active .menu li {
    margin: 10px 0;
  }
  .navbar.active .burger .line:nth-child(1) {
    transform: rotate(50deg) translate(5px, 8px);
  }

  .navbar.active .burger .line:nth-child(2) {
    opacity: 0;
  }

  .navbar.active .burger .line:nth-child(3) {
    transform: rotate(-50deg) translate(5px, -8px);
  }
}
.hire-me-btn {
  background-color: #048777;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
  border: none;
}

.hire-me-btn:hover {
  background-color: #025f5f;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
/* style for typing effect */
.info_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.intro {
  font-size: 2rem;
  font-weight: normal;
  color: white;
}

/* styles for the name */
.name {
  font-size: 6rem;
  font-weight: bold;
  color: white;
}
.landingpage{
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
}
.container p {
  font-size: 4rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #048777;
  font-weight: bolder;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/* media queries */
@media screen and (max-width: 768px) {
  .container p {
    font-size: 2rem;
    height: 12vw;
    padding: 0.25rem;
  }
  .intro {
    font-size: 1.5rem;
  }
  .name {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .container p {
    font-size: 1.5rem;
    padding: 0.1rem;
  }
  .intro {
    font-size: 1.2rem;
  }
  .name {
    font-size: 2.5rem;
  }
}

/* style for the main body starts */

/* heading part of about section */
.about_heading{
  text-align: center;
  color: white;
}

.faded_heading{
  font-size: 50px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.217) !important;
  font-size: 150px;
}

.about_heading p{
  color: black;
  margin: -140px auto;
  font-size: 5vh;
  font-weight: bold;
}

hr{
  margin: 130px auto;
  height: 4px;
}

/* Responsive Styles */

@media only screen and (max-width: 768px) {
  .about_heading p {
    margin: -138px auto;
    font-size: 3.5vh;
  }
  
  hr {
    margin: 127px auto;
  }
}

@media only screen and (max-width: 480px) {
  .faded_heading {
    font-size: 100px;
  }
  
  .about_heading p {
    margin: -92px auto;
    font-size: 3vh;
  }
  
  hr {
    margin: 85px auto;
  }
}

/* Base styles */
.about{
  background-color: whitesmoke;
}
.about_content_container{
  background-color: whitesmoke;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  border-radius: 30px;
}

.about_col{
  width: 48%;
  margin: 40px auto;
  padding: 20px;
}
.cmom{
  display: block;
  background-color:#048777 ;
  width: 95%;
  padding: 5vw;
  margin: auto;
  text-align: center;
}
.cmom h1{
  font-size: 112px;
  color: white;
  padding: 40px;
}
.languages{
  display: flex;
  flex-direction: row;
  background-color: darkgrey;
  border-radius: 30px;
  width: 47%;
}
.bars_container p{
  font-size: 30px;
}

.info p{
  font-size: 20px;
}

.info h1{
  font-size: 50px;
  width: 45%;
}

.bars_container{
  display: flex;
  flex-direction: column;
  padding: 58px;
  row-gap: 20px;
  margin: auto;
  width: 90%;
  text-align: start;
}

.empty_bar{
  width: 100%;
  background-color: white;
  height: 20px;
  margin: auto;
}

.filled_Bar{
  background-color: #048777;
  height: 20px;
  width: 0%;
  transition: all 1s;
}

/* Media Queries */
@media screen and (max-width: 1000px){
  .cmom h1{
    font-size: 55px;
    color: white;
    padding: 40px;
  }
  .languages{
    width: 76%;
  }
  .about_col{
    width: 77%;
  }
}
@media screen and (max-width: 768px) {
  .cmom h1{
    font-size: 53px;
    padding: 20px;
  }
  .bars_container p{
    font-size: 20px;
  }
  .info h1{
    font-size: 30px;
    width: 100%;
    text-align: center;
  }
  .about_col{
    width: 90%;
  }
  .languages{
    width: 90%;
  }
  .bars_container{
    padding: 20px;
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .cmom h1{
    font-size: 26px;
    padding: 10px;
  }
  .bars_container p{
    font-size: 16px;
  }
  .info h1{
    font-size: 33px;
    width: 100%;
    text-align: start;
  }
  .languages{
    flex-direction: column;
    align-items: center;
    width: 82%;
    padding: 16px;
  }
  .bars_container{
    padding: 10px;
    width: 90%;
  }
  .empty_bar{
    height: 10px;
  }
  .filled_Bar{
    height: 10px;
  }
}

/* for education */

.education {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  flex-wrap: wrap;
}

.education h2 {
  text-align: center;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 30px;
}

.education-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  column-gap: 5%;
  row-gap: 40px;
}

.education-item {
  margin-bottom: 40px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 40%;
  /* height: 99px; */
  font-size: 37px;
}

@media screen and (max-width: 768px) {
  .education h2 {
    font-size: 120px;
  }
  
  .education-container {
    column-gap: 30px;
  }
  
  .education-item {
    width: 75%;
    margin: 0 auto;
  }
  .education-item h3{
    font-size: 30px;
  }
  .education-item p{
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .education h2 {
    font-size: 60px;
  }
  
  .education-item {
    width: 75%;
    margin: 0 auto;
  }
}

.grid-row {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  margin: 20px 0;
}

.card-top img {
  display: block;
  width: 90%;
  height: 200px;
  border-radius: 20px;
  margin: auto;
}

.container {
  width: 95%;
  margin: auto;
}

.card {
  background: #048777;
  color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  text-align: center;
  width: 20%;
  height: 778px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.card-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.card-info h2 {
  font-size: 18px;
  margin: 10px 0 5px 0;
}

.date {
  margin-bottom: 10px;
}

.excerpt {
  color: #aeaeae;
  font-size: 20px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-bottom {
  align-self: flex-end ;
  margin-top: auto;
}

.button {
  text-decoration: unset;
  font-weight: 600;
  text-transform: uppercase;
  color: #4e4e4e;
  width: 80px;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
  border-radius: 5px;
  background: #f2f4f6;
}

.read-more {
  text-decoration: unset;
  color: #000;
  font-weight: 600;
}

.btn-yellow {
  background: #ffb91d;
}

.btn-sky {
  background: #d2f9fe;
}

.btn-dpink {
  background: #e8d3fc;
}

@media screen and (max-width: 768px) {
  .grid-row {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .card-info h2 {
    font-size: 16px;
  }
  
  .excerpt {
    font-size: 18px;
  }
  
  .card {
    height: 700px;
    width: 40%;
  }
  
  .card-top img {
    width: 100%;
  }
  .portfolio h1{
    font-size: 131px;
  }
}
@media screen and (max-width: 480px){
  .card {
    height: min-content;
    width: 80%;
  }
  .portfolio h1{
    font-size: 70px;
  }
  .portfolio .about_heading p {
    margin: -73px auto;
    font-size: 3vh;
  }
  .portfolio .about_heading hr{
    margin: 70px auto;
  }
}
@media screen and (max-width: 360px){
  .portfolio h1{
    font-size: 64px;
  }
}
@media screen and (max-width: 900px) {
  .card{
    width: 78%;
    font: 30px;
  }
}

/* for the image gallery */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 20px auto;
  width: 80%;
  height: 80%;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 480px){
  .gallery_container h1 {
      font-size: 82px;
  }
  .gallery_container hr {
    margin: 72px auto;
  }
  .gallery_container p {
    margin: -79px auto;
    font-size: 3vh;
  }
}
@media only screen and (max-width: 480px){
  .contact_container h1{
      font-size: 73px;
  }
  .contact_container p {
    margin: -73px auto;
    font-size: 3vh;
  }
  .contact_container hr {
    margin: 65px auto;
  }
}
@media only screen and (max-width: 768px)and (min-width: 480px){
  .contact_container h1{
      font-size: 128px;
  }
  .contact_container p {
    margin: -117px auto;
    font-size: 3vh;
  }
  .contact_container hr {
    margin: 108px auto;
  }
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  color: white;
  position: relative;
  background: grey;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltip a{
  text-decoration: none;
  color: white !important;
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon:hover span,
.icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.discord:hover,
.discord:hover .tooltip,
.discord:hover .tooltip::before {
  background: #2c2f33;
  color: #ffffff;
}

.twitter:hover,
.twitter:hover .tooltip,
.twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.instagram:hover,
.instagram:hover .tooltip,
.instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.github:hover,
.github:hover .tooltip,
.github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.youtube:hover,
.youtube:hover .tooltip,
.youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}

/* Media Queries for Responsive Design */
@media (max-width: 767px) {
  .icon {
    width: 30px;
    height: 30px;
    font-size: 14px;
    padding: 10px;
  }

  .tooltip {
    font-size: 12px;
    padding: 4px 6px;
  }

  .tooltip::before {
    height: 6px;
    width: 6px;
    bottom: -2px;
  }

  .icon:hover .tooltip {
    top: -35px;
  }
}

